@import "tailwindcss";

.react-activity-calendar {
  color: #d1d5db !important;
}

.react-activity-calendar text {
  fill: #d1d5db !important;
}

.react-activity-calendar svg text {
  fill: #d1d5db !important;
}

.react-activity-calendar span,
.react-activity-calendar div {
  color: #d1d5db !important;
}